/* Layout */
body {
  background-color: grey;
  background: linear-gradient(to bottom, #318aa8 0%,#318aa8 3%,#77f0ff 3%,#48cde3 3%,#4fd1e5 5%,#6cdbea 7%,#88e3f0 9%,#ddf7fa 14%,#f3fcfe 17.6%,#ffffff 17.6%,#5ac6d4 17.6%,#58c3d2 19%,#4cb4c8 23%,#3c9fba 27%,#3595b4 30%,#3391b2 32%,#318aae 51%,#2973a0 95%,#2973a1 100%);
  background-position: top center;
  background-repeat: no-repeat;
  color: #424c43;
  font-size: 14px;
  font-family: 'Tahoma Regular', Arial, sans-serif;
}
.wrapper {
  background-color: white;
  width: 1000px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.9);
  margin: 0 auto;
}

/* Header*/
.header {
  width: 100%;
  height: 175px;
  position: relative;
}
.logo {
  left: 28px;
  bottom: 0;
  position: absolute;
}
.header h1 {
  font-size: 12px;
  color: #128aa7;
  position: absolute;
  left: 99px;
  top: 109px;
}
.header__contacts {
  font-size: 12px;
  color: #128aa7;
  position: absolute;
  top: 9px;
  right: 23px;
}
.countries {
  position: absolute;
  right: 28px;
  bottom: 8px;
}
.countries li {
  display: inline-block;
  width: 54px;
  text-align: center;
}
.countries a {
 color: #128aa7;
 font-size: 10px;
 text-decoration: underline;
}
.countries a:hover {
  color: black;
}
.countries img {
  margin: 0 5px -2px 5px;
}
.header__contacts p {
  margin-bottom: 5px;
}
.header__contacts p a {
  color: #128aa7;
}
/* BANNER*/
.banner-img {
  display: block;
  width: 1000px;
  height: 235px;
  border: 1px solid #128aa7;
  border-left: 0;
  border-right: 0;
}

/* The main site navigation */
.nav-menu {
  float: left;
  height: 28px;
  width: 100%;
  background: linear-gradient(to bottom, #373737 0%,#303030 100%);
  border-top: 1px solid #cacbcb;
  border-bottom: 1px solid #000000;
  box-shadow: 0 2px 3px rgba(0,0,0, 0.8);
}
.nav-menu li {
  float: left;
  margin: -1px 0 0 40px;
  text-align: center;
}
.nav-menu li:hover ul {
  display: block;
}
.nav-menu li img {
  padding: 1px;;
  transform: rotate(-90deg);
}
.nav-menu li:hover img {
  transform: rotate(0deg);
}
.nav-menu a {
  display: block;
  padding: 8px 10px;
  color: white;
  text-decoration: none;
}
.nav-menu a:hover {
  color: #128aa7;
}
.nav-menu a img {
  margin-left: 15px;
}
.nav-menu ul {
  position: absolute;
  margin-left:  2px;
  display: none;
  background-color: #303030;
  box-shadow: 0 3px 10px rgba(0,0,0,0.5);
}
.nav-menu ul li {
  margin: 0;
  padding: 0;
  float: none;
  width: 150px;
}
.nav-menu ul a {
  margin: 0;
  padding: 5px 20px 5px 8px;
  color: white;
  text-decoration: none;
  text-align: left;
}
.nav-menu ul:last-child a {
  padding-bottom: 10px;
}

/* MAIN */
.main {
  line-height: 20px;
}
.main__sidebar {
  border-left: 1px solid #c7cacf;
  border-right: 1px solid #c7cacf;
  width: 178px;
  padding: 0 15px 15px 15px;
  background-color: #edeef0;
  display: table-cell;
}
.main__content {
  width: 550px;
  padding: 10px 15px 15px 15px;
  display: table-cell;
}
.main__sidebar p {
  margin-top: 4px;
    max-width: 169px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main__sidebar h2 {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}
.news h2 {
  margin-left: -8px;
}
.main__sidebar a {
  color: #424c43;
}

/* FOOTER */
footer {
  color: white;
  margin: 10px;
  font-size: 12px;
  text-align: center;
}
footer a {
  color: white;
}
